.button-container {
  button {
    height: 40px;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 1.5rem;
    font-weight: bold;
  }

  &:not(.secondary) {
    &.disabled {
      button {
        background-color: $primary-light;
        color: $white;
        cursor: not-allowed;
      }
    }

    &:not(.disabled) {
      button {
        background-color: $primary;
        color: $white;
        cursor: pointer;
  
        &:hover {
          background-color: $primary-dark;
        }
      }
    }
  }

  &.secondary {
    &.disabled {
      button {
        background-color: $white;
        color: $primary-light;
        border: 1px solid $primary-light;
        cursor: not-allowed;
      }
    }


    &:not(.disabled) {
      button {
        background-color: $white;
        color: $primary;
        border: 1px solid $primary;

        &:hover {
          background-color: $primary-light;
          border: 1px solid $primary;
        }
      }
    }
  }
}

.icon-button-container {
  button {
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 1.2rem;
    background-color: transparent;
  }

  &:not(.secondary) {
    &.disabled {
      button {
        color: $primary-light;
        cursor: not-allowed;
      }
    }

    &:not(.disabled) {
      button {
        color: $primary;
        cursor: pointer;

        &:hover {
          color: $primary-dark;
        }
      }
    }
  }

  &.secondary {
    &.disabled {
      button {
        color: $primary-light;
        cursor: not-allowed;
      }
    }

    &:not(.disabled) {
      button {
        color: $white;
        cursor: pointer;
  
        &:hover {
          color: $primary-light;
        }
      }
    }
  }
}