.input-container {
  position: relative;

  input {
    width: 100%;
    border: 1px solid $gray;
    border-radius: 5px;
    padding: 10px;
    outline: none;

    &.with-icon {
      padding-right: 30px;
    }

    &::placeholder {
      font-size: 1rem;
      font-weight: normal;
    }

    &.lg {
      height: 40px;
      font-size: 1.2rem;
    }

    &.sm {
      height: 30px;
      font-size: 1rem;
    }

    &.disabled {
      background-color: $gray-light;
      cursor: not-allowed;
    }
  }

  .title {
    margin: 0;
  }

  .icon {
    position: absolute;
    right: 10px;
    top: 9px;
    color: $black;
    font-weight: bold;
    font-size: 1.4rem;
    line-height: 1.4rem;

    &.show-password {
      color: $gray;
      font-size: 1rem;
      cursor: pointer;
    
      &:hover {
        color: $gray-dark;
      }
    }
  }
}